body {
	background-image: url(http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s1600/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg);
}

img {
	margin-left: 30px;
	width: 20%;
	padding: 5px;
}

table {
	border: 5px solid #330066;
	border-radius: 10px;
}

p {
	border: 1px dotted black;
	padding: 5px ;
	font-family: Century Gothic, sans-serif;
}

#website_link:visited {
	color: #006600;
}

.page_2_link:visited {
	color: orange;
}

#index_link:visited {
	color: #008080
}

footer {
	width: 25%;
	margin: auto;
}

@media only screen    
  and (device-width: 375px)    
  and (device-height: 667px) {
    /* Increase font-size on iPhone 6 for readability */   
    p {     
      font-size: 2em;   
    } 

    img {
    	width: 30%
    }
}